name: Cache Assignment

on:
  workflow_dispatch:

jobs:
  cache-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: 21f2000222@ds.study.iitm.ac.in
        run: echo "Hello, world!"

      - name: Cache dependencies
        id: cache-step
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
          key: cache-564fb23

      - name: prime-cache-564fb23
        run: echo "Cache hit? ${{ steps.cache-step.outputs.cache-hit }}"

